[submodule "practice-5/solana-bootcamp-empty"]
	path = practice-5/solana-bootcamp-empty
	url = https://github.com/AcceleratorMX/solana-bootcamp-empty.git
[submodule "practice-6/solana-bootcamp-empty"]
	path = practice-6/solana-bootcamp-empty
	url = https://github.com/AcceleratorMX/solana-bootcamp-empty.git
